*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.out
/*.pdf
*.ps
*.acn
*.ist
*~
*.glo
*.old
*.brf
.directory
*.ttn
*.nav
*.snm
*.toc
*.vrb
*.bcf
*.gnn
*.lof
*.lot
*.run.xml
*.tan
*.tvn
*.xdy
texmf
.DS_Store
*.idx
*.ilg
*.ind
*.kilepr
